body
{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainJumbo {
    background: rgba(15, 22, 48, 0.55);
    width: 100%;
    margin: 0;
}

.innerJumbo {
    background: rgba(15, 22, 48, 0.7);
    width: 100%;
}

.tableKey {
    color: #95732e;
}

.tableVal {
    color: white;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}